/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1e9e948;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #4e4c4c;
    border-radius: 10px;
    border: 3px solid #b4b2b2;
  }
  